body{
	background-color:#ff2e54;
}

					
#container{
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content:center;
	justify-content:center;
	padding:10px 0px 30px 0px;
}

.circle-1{
	width:100px;
	height:100px;
	background:#fffeee;
	border-radius:50%;
	-webkit-box-shadow: 20px 20px 0px 0px rgb(0,0,0,1);
	-moz-box-shadow: 20px 20px 0px 0px rgb(0,0,0,1);
	box-shadow: 20px 20px 0px 0px rgb(0,0,0,1);
}

.circle-1:hover{
	/*box-shadow:20px 20px 0px 0px rgb(255, 254, 237);
	background-color:#000000;*/
	transition-duration:0.2s;
	transform:translate(5);
/* 	height:70px;
	width:100px; */
	animation:bounce 0.8s cubic-bezier(0.4, 0, 1, 1);

}


@keyframes bounce{
  0% {
  	transform: scale(1,1);
  	background-colorcolor:#fffeee;
  }

  20% {
  	transform: scale(1,0.8);

  100% {
  	transform: scale(1,1);
  	background-color:#756f2b;


  }

}

