body{
   background-image:linear-gradient(to bottom right, #5c6a84, #000000);
   height:900px;
   width:2000px;
}

/*BACKGROUND------------------------------------------*/


.container_bottom{

}

.shape1{
    position:absolute;
    margin-left:100px;
    margin-top:30px;
    transform:rotate(70deg);
    opacity:0.4;

    animation-name: floating2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


.shape1:hover, .shape2:hover, shape3:hover, shape4:hover, .shape5:hover, .shape6:hover, shape7:hover, shape8:hover, shape9:hover, shape10:hover, .shape11:hover, .shape12:hover, shape13:hover, shape14:hover, .shape15:hover, .shape16:hover, shape17:hover, shape18:hover, shape19:hover, shape20:hover, shape21:hover, shape22:hover, shape23:hover  {
    opacity:1;
}

.shape1:visited{
	opacity:1;
}



.shape2{
    position:absolute;
    margin-left:104px;
    margin-top:-138px;
    opacity:0.4;

    animation-name: floating3;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

    
}

.shape3{
    position:absolute;
    margin-left:400px;
    margin-top:-30px;
    opacity:0.4;

    animation-name: floating3;
    animation-duration:7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.shape4{
    position:absolute;
    margin-left:-25px;
    margin-top:160px;
    opacity:0.4;

    animation-name: floating4;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}

.shape5{
    position:absolute;
    margin-left:1000px;
    margin-top:0px;
    opacity:0.4;

    animation-name: floating1;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape6{
    position:absolute;
    margin-left:-20px;
    margin-top:255px;
    opacity:0.4;

    animation-name: floating3;
    animation-duration:7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


.shape7{
    position:absolute;
    margin-left:-100px;
    margin-top:540px;
    opacity:0.4;

    animation-name: floating4;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}


.shape8{
    position:absolute;
    margin-left:830px;
    margin-top:210px;
    opacity:0.4;

    animation-name: floating4;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


.shape9{
    position:absolute;
    margin-left:1200px;
    margin-top:-60px;
    opacity:0.4;

    animation-name: floating3;
    animation-duration:9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape10{
    position:absolute;
    margin-left:1400px;
    margin-top:0px;
    opacity:0.4;

    animation-name: floating2;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape11{
    position:absolute;
    margin-left:300px;
    margin-top:0px;
    opacity:0.4;

    animation-name: floating1;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape12{
    position:absolute;
    margin-left:300px;
    margin-top:0px;
    opacity:0;

    animation-name: floating4;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape13{
    position:absolute;
    margin-left:1250px;
    margin-top:510px;
    opacity:0.4;
    transform:rotate(-90deg);

    animation-name: floating3;
    animation-duration:7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape14{
    position:absolute;
    margin-left: 300px;
    margin-top:90px;
    opacity:0.4;

    animation-name: floating2;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape15{
    position:absolute;
    margin-left:70px;
    margin-top:340px;
    opacity:0.4;

    animation-name: floating4;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape16{
    position:absolute;
    margin-left:150px;
    margin-top:40px;
    opacity:0.4;

    animation-name: floating1;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape17{
    position:absolute;
    margin-left:350px;
    margin-top:140px;
    opacity:0.4;

    animation-name: floating3;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape18{
    position:absolute;
    margin-left:240px;
    margin-top:20px;
    opacity:0.4;

    animation-name: floating2;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape19{
    position:absolute;
    margin-left:1300px;
    margin-top:10px;
    opacity:0.4;

    animation-name: floating1;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.shape20{
    position:absolute;
    margin-left:830px;
    margin-top:510px;
    opacity:0.4;

    animation-name: floating1;
    animation-duration:7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


.shape21{
    position:absolute;
    margin-left:1270px;
    margin-top:260px;
    opacity:0.4;

    animation-name: floating2;
    animation-duration:6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


.shape22{
   position:absolute;
    margin-left:650px;
    margin-top:350px;
    opacity:0.4;

    animation-name: floating4;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


.shape23{
   position:absolute;
    margin-left:1000px;
    margin-top:650px;
    opacity:0.4;

    animation-name: floating1;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


/*LOGO------------------------------------------*/


.container_logo{
    position:absolute;
    transform:scale(0.9);

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 360px;
    margin-top: 180px;
}

.logo{
    position:absolute;
    opacity:0.9;
   
}

.subtitle{
    position:absolute;
    margin-top:370px;
    margin-left:185px;
    mix-blend-mode;
    opacity:0.8;
}




/*Floating animation------------------------------------------*/

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


@keyframes floating2 {
    from { transform: translate(0,  0px); }
    70%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes floating3 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}


@keyframes floating4 {
    from { transform: translate(0,  0px); }
    45%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}

/*CONTENT-------------------------------------------*/


/*.dark{
	position:absolute;
	width:3000px;
	height:3000px;
	background-color: black;
	opacity: 0.5;
	margin:-10px;
	z-index: 1;
}*/


#content{
	z-index:3;
    position:absolute;
    background-color:(0,0,0,0.8); 
	
}


h1{
    position:absolute;
	margin-top:250px;
	margin-left:100px;
	font-weight:700;
    color: white;
    z-index:2;
    font-size: 90pt;
    font-family:"monaco";

}


p{
	position:absolute;
	margin-top:280px;
	margin-left:600px;
	margin-right:40px;
    color: white;
    font-size: 11pt;
    font-family:"monaco";

}



.img{
	position:relative;
	margin-top:280px;
	margin-left:1100px;
	mix-blend-mode:multiply;

}

.img1{
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	height:200px;
}


.img2{
	position:absolute;
	margin-top:0px;
	margin-left:350px;
	height:200px;
	
}

.options{
	position:absolute;
	margin-top:300px;
	margin-left:1200px;

}


.playvideo{
	position:absolute;
	margin-top:0px;
	margin-left:0px;

}

.playvideo:hover{
	color:#7887ff;
	font-size:small;
}

.relatedwork{
	position:absolute;
	margin-top:0px;
	margin-left:120px;

}

.relatedwork:hover{
	color:#7887ff;
	font-size:small;
}

.back{
	position:absolute;
	margin-top:0px;
	margin-left:270px;

}


.back:hover{
	color:#7887ff;
	font-size:small;
}




