#draggable{
	width: 150px;
	height:100px;
	padding:10px;
	background-color: blue;
	font-style:serf;
	color:#ffffff;
}

.blue-border{
	width:150px;
	height:150px;
	padding:10px;
	border:#0000ff 3px solid;
}

#droppable{
	width:150px;
	height:150px;
	padding:10px;
	border:#000000 3px solid;
}